/Info/*
/Semana01/Semana01 - Introducción.pptx
/Información del curso/2023-1 CLASE A CLASE.xlsx
/Semana02/Semana02 - Preprocesamiento de datos.pptx
/Semana03/Info/*
/Semana04/Info/*
/Semana04/Semana04 - Métodos de Ensamble.pptx
/Semana04/used_cars.csv
/Semana05/Semana05 - Aprendizaje no supervisado.pptx
/Semana06/Semana06 - Intro al Aprendizaje Profundo.pptx
/Semana06/Semana06 - Intro a las CNNs.pptx